<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>

  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="Log_%env{USERNAME}_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <bufferSize value="20" />
      <LockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="[Log Starts]%newline" />
        <footer type="log4net.Util.PatternString" value="[Log Ends]%newline%newline" />
        <conversionPattern value="%date [%username] - %message%newline" />

      </layout>

    </appender>

    <!-- Specify the level for some specific categories -->
    <logger name="MyApplicationDebugLog">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />

    </logger>

  </log4net>

  <connectionStrings>
    <add name="sqlserver" connectionString="Data Source=den1.mssql5.gear.host;Initial Catalog=prestamolibros;User ID=prestamolibros;Password=Tn1q769hQ?_8"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
 
</configuration>
